@charset "UTF-8";

.q5_contents {
  width: 500px;
  height: 500px;
  background-color: #ECF1F2;
  margin: 0 auto;
  position: relative;
}

.item {
  width: 100px;
  height: 100px;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
}
.q5_8 {
  position: absolute;
  top: 120px;
  left: 120px;
  background-color: #de70cf;
  z-index: 8;
}

.q5_8::after {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  content: "";
}

.q5_5 {
  position: absolute;
  top: 360px;
  left: 200px;
  background-color: #9fd6d2;
  z-index: 5;
}

.q5_1 {
  position: absolute;
  top: 40px;
  left: 200px;
  background-color: #ffefd3;
}

.q5_7 {
  position: absolute;
  top: 200px;
  left: 40px;
  background-color: #deae70;
  z-index: 7;
}

.q5_4 {
  position: absolute;
  top: 280px;
  right: 120px;
  background-color: #8b7a5e;
  z-index: 4;
}

.q5_6 {
  position: absolute;
  top: 280px;
  left: 120px;
  background-color: #fffee4;
  z-index: 6;
}

.q5_2 {
  position: absolute;
  top: 120px;
  right: 120px;
  background-color: #7084de;
  z-index: 2;
}

.q5_3 {
  position: absolute;
  top: 200px;
  right: 40px;
  background-color: #d0ecea;
  z-index: 3;
}

.q5_9 {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #2b69a3;
}
/* 回答はここに書いてね */

/* 回答はここに書いてね */
