@charset "UTF-8";

.q6_box_right {
  text-align: center;
}

.q6_text_align {
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
  display: inline-block;
  text-align: center;
}

.q6_text_margin {
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
  margin: 0 auto;
  text-align: center;
}

.q6_box_top {
  display: table;
}
.q6_box_table {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.q6_text_table {
  padding: 10px;
  background-color: #fff;
  display: inline-block;
}

.q6_box_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.q6_text_flex {
  padding: 10px;
  background-color: #fff;
}

.q6_box_position_right {
  position: relative;
}
.q6_text_position_right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.q6_box_position_left {
  position: relative;
}

.q6_text_position_left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* 回答はここに書いてね */

/* 回答はここに書いてね */
